@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;400&display=swap");

#root {
  /* max-width: 1280px; */
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5fa;
  /* text-align: center; */
}

body::-webkit-scrollbar {
  width: 0;
}
