@tailwind base;
@tailwind components;
@tailwind utilities;

/* ScrollUpButton.css */
.scroll-up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.scroll-up-button.visible {
  opacity: 1;
  visibility: visible;
}

.swal2-container {
  z-index: 9999;
}
